<!-- component/post-snippet/template.hbs -->
<br> <br>
{{#unless isEditable}}
  <div class="row">
    <div class="col-sm-3">{{post.title}}</div>
    <div class="col-sm-5">{{post.description}}</div>
    <div class="col-sm-4">{{post.website}}</div>
  </div>
  <hr class="style-two">

<!-- have link to review page -->

{{else}}
<div class="row">
  <div class="col-sm-3">Pepper: {{input value = post.title}}</div>
  <div class="col-sm-5">Description: {{input value = post.description}}</div>
  <div class="col-sm-4">Website: {{input value = post.website}}<</div>
</div>
<hr class="style-two">

<div class="row">
<button {{action 'updatePost'}} class="btn btn-default">EDIT</button>
<button {{action 'destroyPost'}} class="btn btn-danger">DESTROY</button>
</div>
{{/unless}}
