<!-- component/post-snippet/template.hbs -->
<br> <br>
{{#unless isEditable}}
  <div class="row post-snippet">
    <div class="col-xs-6 col-sm-4 left-title">Pepper</div>
    <div class="col-xs-12 col-md-8">{{post.title}}</div>
  </div>
  <div class="row post-snippet">
    <div class="col-xs-6 col-sm-4 left-title">Description</div>
    <div class="col-xs-12 col-md-8">{{post.description}}</div>
  </div>
  <div class="row post-snippet">
    <div class="col-xs-6 col-sm-4 left-title">Website</div>
    <a href="{{post.website}}" target="_blank"><div class="col-xs-12 col-md-8">{{post.website}}</div></a>
  </div>

  <hr class="style-two">

<!-- have link to review page -->

{{else}}
  <div class="row post-snippet">
    <div class="col-xs-6 col-sm-4 left-title">Pepper</div>
    <div class="col-xs-12 col-md-8">{{input value=post.title}}</div>
  </div>
  <div class="row post-snippet">
    <div class="col-xs-6 col-sm-4 left-title">Description</div>
    <div class="col-xs-12 col-md-8">{{input value=post.description}}</div>
  </div>
  <div class="row post-snippet">
    <div class="col-xs-6 col-sm-4 left-title">Website</div>
    <div class="col-xs-12 col-md-8">{{input value=post.website}}</div>
  </div>
  <div class="row">
    <button {{action 'updatePost'}} class="btn btn-default">EDIT</button>
    <button {{action 'destroyPost'}} class="btn btn-danger">DESTROY</button>
  </div>

{{/unless}}
