<!-- component/post-snippet/template.hbs -->
<br> <br>
{{#unless isEditable}}
<div class="row">
  <div class="col-sm-4">Pepper</div>
  <div class="col-sm-8">{{post.title}}</div>
</div>
<div class="row">
  <div class="col-sm-4">Description</div>
  <div class="col-sm-8">{{post.description}}</div>
</div>
<div class="row">
  <div class="col-sm-4">Website</div>
  <div class="col-sm-8">{{post.website}}</div>
</div>

<hr class="style-two">

<!-- have link to review page -->

{{else}}
<div class="row">
  <div class="col-sm-4">Pepper</div>
  <div class="col-sm-8">{{input value=post.title}}</div>
</div>
<div class="row">
  <div class="col-sm-4">Description</div>
  <div class="col-sm-8">{{input value=post.description}}</div>
</div>
<div class="row">
  <div class="col-sm-4">Website</div>
  <div class="col-sm-8">{{input value=post.website}}</div>
</div>
<div class="row">
  <button {{action 'updatePost'}} class="btn btn-default">EDIT</button>
  <button {{action 'destroyPost'}} class="btn btn-danger">DESTROY</button>
</div>

{{/unless}}
