<!-- component/post-snippet/template.hbs -->
<br> <br>
{{#unless isEditable}}
  <table>
      <tr>
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>
        <td>{{post.website}}</td>
      </tr>
    </table>  <hr>

<!-- have link to review page -->

{{else}}
<table>
    <tr>
      <td>{{input value = post.title}}</td>
      <td>{{input value = post.description}}</td>
      <td>{{input value = post.website}}</td>
    </tr>


</table>  <hr class="style-two">


  <button {{action 'updatePost'}} class="btn btn-default">EDIT</button>
  <button {{action 'destroyPost'}} class="btn btn-danger">DESTROY</button>
{{/unless}}
