<!-- component/post-form/template.hbs -->
<h2> Make It Pepper With A Post! </h2>
{{#unless isEditable}}
<div>
  {{post.title}}
  {{post.description}}
  {{post.website}}
</div>
<br>
{{else}}

<div>
  {{input placeholder='Title' value=form.title}}
  {{input placeholder='Description' value=form.description}}
  {{input placeholder='Website' value=form.website}}
</div>
<br>
<button {{action 'createPost'}} class="btn btn-success"> Add a New Post </button>
{{/unless}}


<br>
<br>
<table class="post-table-header">
<thead>
  <tr>
    <th>Pepper</th>
    <th>Description</th>
    <th>Website</th>
  </tr>
</thead>
</table>
